<%# <%= render "layouts/navbar" %>

<h1><%= @topic.title %></h1><br>
<h2><%= @topic.body%></h2><br>
<h3><%= render @topic.podcasts %></h3>

<ul>
  <li><%= link_to "New Podcast",new_topic_podcast_path(@topic) %></li>
  <li><%= link_to "All Topic's", topics_path %></li>
  <li><%= link_to "Edit", edit_topic_path(@topic) %></li>
  <li><%= link_to "Destroy", topic_path(@topic),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>